URL dashboard: #TODO

# Perkenalan

Nama : Jason Rich Darmawan Onggo Putra

Batch : 016 RMT

# Identifikasi Masalah

## Topik Permasalahan

Perbandingan Pembelian Alkohol di Iowa, Amerika Serikat sebelum Pandemi Covid-19 dan puncak (kasus baru per hari) Pandemi Covid-19

Data sebelum Pandemi Covid-19 yang digunakan adalah bulan Janauri 2018.

Data Puncak Pandemi Covid-19 yang digunakan adalah bulan Januari 2021.

## Problem Statement

Membuktikan Dampak (Meningkat/Berkurang/Tidak Berdampak) Pandemi Covid-19 terhadap Konsumsi Alkohol di Iowa, Amerika Serikat.

## Latar Belakang

Saya ingin belajar Hypothesis Testing Two Sample Independent.

## Penjabaran Masalah

### Hypothesis Testing 1

- [ ] Apa rata-rata penjualan minuman beralkohol (dalam volume / column `volume_sold_liters`) di Iowa, Amerika Serikat pada bulan Januari 2018 dan 2021 sama/berbeda (lebih kecil/lebih besar)?
- [ ] Apa rata-rata penjualan minuman beralkohol (dalam total harga / column `sale_dollars`) di Iowa, Amerika Serikat pada bulan Januari 2018 dan 2021 sama/berbeda?

### Visualisasi

- [ ] Di kota (column `city`) mana penjualan tertinggi (dalam volume / column `volume_sold_liters`) minuman beralkohol di Iowa, Amerika Serikat pada bulan Januari 2018 dan 2021?
- [ ] Di kota (column `city`) mana penjualan tertinggi (dalam total harga / column `sale_dollars`) di Iowa, Amerika Serikat pada bulan Januari 2018 dan 2021?
- [ ] Apa ukuran botol (column `bottle_volume_ml`) yang paling banyak terjual (column `bottles_sold`) di Iowa, Amerika Serikat pada bulan Januari 2018 dan 2021?

### Hypothesis Testing 2

- [ ] Apa rata-rata harga minuman beralkohol (column `state_bottle_retail`) di Iowa, Amerika Serikat pada bulan Januari 2018 dan 2021 sama/berbeda?

### Dugaan Penyebab Perbedaan Rata-rata Penjualan Minuman Beralkohol pada bulan Januari 2018 dan 2021

- [ ] Apa korelasi harga minimuman beralkohol (column `state_bottle_retail`) dengan jumlah botol terjual (column `bottles_sold`) di Iowa Amerika Serikat pada bulan Januari 2018 dan 2021?

# Data Loading

## Import Library

In [1]:
import pandas as pd

## Reference

project: bigquery-public-data

dataset: iowa_liquor_sales

table: sales

## Query

advantage: sub-query agar lebih clean dan lebih mudah ganti tahun dan bulan.

disadvantage: result sub-query-nya boros (diload hanya untuk difilter di query berikutnya).

```
SELECT *,
FROM (
  SELECT *, 
         EXTRACT(YEAR FROM date) as year,
         EXTRACT(MONTH FROM date) as month
  FROM `bigquery-public-data.iowa_liquor_sales.sales`
  WHERE date BETWEEN "2018-01-01" AND "2022-01-31"
)
WHERE year IN (2018, 2022) 
 AND month=1
```

In [3]:
df = pd.read_csv("./bigquery-public-data_iowa_liquor_sales_year_2018_and_year_2022_montth_1.csv")
df.head()

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons,year,month
0,INV-10095200050,2018-01-30,4167,"Iowa Street Market, Inc.",1256 Iowa St,Dubuque,52001.0,POINT (-90.668138 42.504959),31.0,DUBUQUE,...,12,1000,4.66,6.99,60,419.40,60.00,15.85,2018,1
1,INV-09780600017,2018-01-15,4669,Vom Fass / Des Moines,"833, 42nd St",Des Moines,50312.0,POINT (-93.674384 41.59343100000001),77.0,POLK,...,6,200,7.98,11.97,6,71.82,1.20,0.32,2018,1
2,INV-43674300036,2022-01-11,4843,Stewart Road Fast Break,2418 Stewart Rd,Muscatine,52761.0,POINT (-91.072733 41.390826),70.0,MUSCATINE,...,8,50,8.75,13.13,3,39.39,0.15,0.03,2022,1
3,INV-43538900011,2022-01-05,5750,Casey's General Store #2920 / Ankeny,1010 SE National Dr,Ankeny,50021.0,POINT (-93.582179 41.70486400000001),77.0,POLK,...,8,50,8.75,13.13,4,52.52,0.20,0.05,2022,1
4,INV-43515200004,2022-01-04,9047,Revelton Distilling Company,1400 W Clay St,Osceola,50213.0,POINT (-93.787233 41.041472),20.0,CLARKE,...,6,50,14.40,21.60,6,129.60,0.30,0.07,2022,1

In [46]:
# Is column invoice_and_item_number value unique?
df.loc[df['invoice_and_item_number'].map(df['invoice_and_item_number'].value_counts()) > 1]
# alternative method:
# df.loc[df['invoice_and_item_number'].duplicated()]

Empty DataFrame
Columns: [invoice_and_item_number, date, store_number, store_name, address, city, zip_code, store_location, county_number, county, category, category_name, vendor_number, vendor_name, item_number, item_description, pack, bottle_volume_ml, state_bottle_cost, state_bottle_retail, bottles_sold, sale_dollars, volume_sold_liters, volume_sold_gallons, year, month]
Index: []

[0 rows x 26 columns]

# Data Cleaning

# Analisis dan Perhitungan

## Statistik Deskriptif

## Statistik Inferensial

# Pengambilan Keputusan